// Import Base
@import "base";

// Load Fonts
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&family=Poppins:wght@100;400;600&display=swap");

// Load Bootstrap components;
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_utilities";

// My Style (Mobile First - https://getbootstrap.com/)

h1 {
  font-weight: $h1-font-weight;
}

.tagline {
  font-weight: 100;
  font-size: $h2-font-size;
}

@include media-breakpoint-up($breakpointForLargeFonts) {
  h1 {
    font-size: $h1-lg-font-size;
  }
  h2 {
    font-size: $h2-lg-font-size;
  }
}

.navbar {
  background-color: $primary;

  @include media-breakpoint-up("md") {
    background-color: transparent;
    &.has-bg {
      background-color: $primary;
    }
  }
}

div.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}

// Fullheight on Medium devices.
.fullheight .row {
  @include media-breakpoint-up($breakpointFor100vh) {
    height: calc(100vh - #{$navbar-height});
  }
  .col-sm {
    height: 100%;
  }
  overflow: hidden;
}

.home {
  position: relative;
  background: linear-gradient(
    to bottom right,
    $black 14%,
    $primary 60%
  ) !important;

  .row {
    @include media-breakpoint-up($breakpointFor100vh) {
      height: 100vh;
    }

    @include media-breakpoint-down($breakpointFor100vh) {
      .home-brand {
        padding-top: #{$navbar-height * 2} !important;
      }
    }

    @include media-breakpoint-up($breakpointFor100vh) {
      .home-phone {
        padding-top: #{$navbar-height * 2} !important;
      }
    }
  }

  .on-top {
    z-index: 100;
  }

  .overlay {
    position: absolute;
    left: 0;
    bottom: -4em;
    width: 100%;

    // TODO: Make the "wave" responsive as well
    img {
    }
  }
}

.btn-rounded {
  border-radius: 1.5rem;
}

// TODO: Images need to resize as per content
.howitworks {
  .howitworks-image img {
    max-height: 70vh;
    width: auto;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    width: 50%;
  }
}

.features {
  background: linear-gradient(
    45deg,
    $primary 0%,
    rgba(183, 22, 44, 1) 45%,
    $primary 100%
  );

  .feature-image img {
    width: 50%;
    height: auto;
  }
}

.venues {
  background-color: #2f2f42;
  p {
    font-size: 0.875em;
  }
}

.covid-19 {
  background: url("../images/people.png") center no-repeat;
  background-size: cover;
  .card,
  .card-body {
    border-radius: 1rem;
  }
}

.contact {
  img.social {
    width: 42px;
    height: auto;
  }
  .email-support {
    font-size: 1.5em;
  }
}

.img-fit {
  max-height: 100%;
  max-width: 100%;
}
