// Theme variables and overrides
$font-family-sans-serif: "Poppins";
$headings-font-family: "Dosis";
$tagline-font-family: "Poppins";
$navbar-height: 56px; // computed manually

$headings-font-weight: 200;
$red: rgba(255, 30, 60);

// Load bootstrap variables
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// Default desktop breakpoint from bootstrap
$breakpointFor100vh: map-get($grid-breakpoints, "md");

.navbar {
  @media (min-width: $breakpointFor100vh) {
    background-color: transparent;
  }
  background-color: #b71632;
  &.has-bg {
    background-color: #b71632;
  }
}

div.anchor {
  display: block;
  position: relative;
  top: -$navbar-height;
  visibility: hidden;
}

.buttons {
  button {
    border-radius: 1.5rem;
  }
}

// full height on medium devices
section.fullheight {
  .row {
    @media (min-width: $breakpointFor100vh) {
      height: calc(100vh - 56px); // TODO: Using $navbar-height is breaking
    }
    .col-sm {
      height: 100%;
    }
  }
}

@media (min-width: $breakpointFor100vh) {
  h1 {
    font-size: 4.5rem !important;
  }
}

.home {
  position: relative;
  background: linear-gradient(75deg, #000000 14%, #b71632 60%) !important;

  .row {
    .phone {
      padding-top: #{$navbar-height * 2} !important;
    }

    @media (min-width: $breakpointFor100vh) {
      height: 100vh !important; // TODO: Using $navbar-height is breaking
    }
  }

  .on-top {
    z-index: 100;
  }

  .tagline {
    font-family: $tagline-font-family;
    font-weight: 100;
    font-size: 2rem !important;
  }

  .overlay {
    position: absolute;
    left: 0;
    bottom: -4em; // ! BREAKING: This is a temporary fix to remove the border line
    width: 100%;

    // TODO: Make the "wave" responsive as well.s
    img {
    }
  }
}

.spacer {
  height: 6rem;
}

// TODO: Images need to resize as per content
.howitworks {
  .howitworks-image img {
    max-width: 70%;
    height: auto;
  }
}

.features {
  background: linear-gradient(
    45deg,
    rgba(246, 87, 75, 1) 0%,
    rgba(183, 22, 44, 1) 45%,
    rgba(219, 60, 48, 1) 100%
  );

  .feature-image img {
    width: 50%;
    height: auto;
  }
}

.venues {
  background-color: #2f2f42;

  p {
    font-size: 0.875rem;
  }
}

.covid-19 {
  background: url("../images/people.png") center no-repeat;
  background-size: cover;
}

.contact {
  img.social {
    width: 42px;
    height: auto;
  }
  .email-support {
    font-size: 1.5em;
  }
}

.text-brand-red {
  color: #e74c3c !important;
}

.img-fit {
  max-height: 100%;
  max-width: 100%;
}

// Load google fonts
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dosis:wght@200;400;500&family=Poppins:wght@100;400;600&display=swap");

// Import bootstrap
@import "~bootstrap/scss/bootstrap";

h1 {
  font-size: 5.5rem !important;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: 500;
}

h3 {
  font-weight: 500 !important;
}

.dosis {
  font-family: $headings-font-family !important;
}

.poppins {
  font-family: $font-family-sans-serif !important;
}
